


/* nave collor add haer  */


/* 
.nave-class{
            
            
    background-color: #4f1ab8;
    
} */


.bg-coller{
background-color: #b0cafc;

}

.bg-best-item{
    background-color: #f1eded;
}